body{
    background-color: #45484B;
    color: #eabf9f;
}
h1{
    color: #faf3e0;
}
a:link{
    color: #faf3e0;
}
nav{
    background-color: #36393B;
    padding: 10px;
    margin-bottom: 30px;
}
nav a:hover{
    background-color: #826c60;
}
nav a{
    color: #faf3e0;
}
@media only screen and (max-width: 750px) {
    a {display: block; width: 100%;}
    span {display: none;}
}