h1{
    color: #ff0000;
    /* hex color requires the pound sign */
    /* six digits startin with red, then green, lastly blue */
}
/* these three selectors are psuedo selectors */
/* colon separates the selector from its state */
a:link{
    color: #00ff00;
}

a:visited{
    color: #0000ff;
}

a:hover{
    color: #8000ff;
    background-color: #87eff5;
}

.lookdifferent:hover{color: #999999;}
/* above uses a class selector with the psuedo state */

body{
    background-image: url(../images/logo.png);
    background-size: 300px;
    background-color:#c9c9ab;
}
/* background color for entire page */

p{
    background-color:#ffffff;
    margin: 10px; /* this is the area outside the box */
    padding: 10px; /* this is the space immediately around the content */
    border: 5px solid #aaaaaa; /*this is a shortcut property with multiple values*/
    width: 300px;
}
/* width of the box + the marginx2 + borderx2 + paddingx2 */
/* 300 + 20 + 20 + 10 = 350 pixels */